* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Arial', sans-serif;
            direction: ltr;
            background-color: black;
            color: #fff;
        }

        .header {
            background: #282828;
            color: white;
            font-family: 'Courier New', Monospace;
            padding: 10px;
            text-align: center;
        }

        .header button {
            float: left;
            font-size: 20px;
            background: #282828;
            padding: 5px;
            font-weight: bold;
            color: white;
        }


        .container {
            margin-top: 60px;
            background-color: #000;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 30px;
            width: 100%;
            max-width: 600px;
            margin: auto;
        }

        label {
            font-size: 14px;
            color: #ddd;
            display: block;
            margin-bottom: 6px;
        }

        input[type="text"],
        textarea,
        select {
            width: 100%;
            padding: 10px;
            margin: 8px 0 16px;
            border: 1px solid #555;
            border-radius: 4px;
            font-size: 14px;
            background-color: #333;
            color: white;
        }

        textarea {
            resize: vertical;
        }

        .button-container {
            text-align: center;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        .form-section {
            margin-bottom: 20px;
        }

        .info-section {
            text-align: center;
            margin-top: 30px;
        }

        .info-section p {
            color: #ddd;
        }

        .info-section span {
            color: cyan;
            font-weight: bold;
        }