* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    direction: ltr;
    background-color: black;
    line-height: 2.5;
    color: #000;
    text-align: center;
}

.header {
    background: #282828;
    color: white;
    font-family: 'Courier New', Monospace;
    padding: 5px;
}

.container {
    justify-content: center;
    text-align: center;
    margin: 10px;
    padding: 15px;
}

.buttons button {
    background: #004d99;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    padding: 12px 15px;
    border: 1px solid black;
}

.buttons button:hover {
    background: darkblue;
}

footer {
    text-align: center;
    line-height: 1.0;
    color: white;
    margin-top: 80px;
    margin-bottom: 15px;
}

footer a {
    color: blue;
    text-decoration: underline;
}
