* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    direction: ltr;
    background-color: white;
}

.header {
    background: rgba(169, 169, 169, 0.5);
    color: black;
    border-bottom: 1px solid dimgrey;
    font-family: 'Courier New', Monospace;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(20px);
}

.header h1 {
    margin-left: 50px;
}

.container {
    justify-content: center;
    text-align: center;
    margin: 5px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.status {
    padding: 10px;
    margin: 10px;
    background: #282828;
    color: white;
    border: 2px solid grey;
    border-radius: 10px;
    text-align: left;
}

.status span2 {
    color: cyan;
    font-weight: bold;
}

.status span1 {
    color: lightgreen;
}

.status a {
    color: lightblue;
    text-decoration: underline;
    cursor: pointer;
}

.container h2 {
    color: deepskyblue;
    margin: 10px;
    text-align: left;
}

.container p {
    margin: 10px;
    color: black;
    text-align: left;
}

.container button {
    background: none;
    border: none;
    outline: none;
    color: deepskyblue;
    font-size: 18px;
}

.container button:hover {
    color: darkblue;
}

.container span {
    background: rgba(255, 0, 0, 0.2);
    padding: 2px;
    border-radius: 5px;
    color: red;
}

footer {
    text-align: center;
    line-height: 1.0;
    color: black;
    margin-top: 80px;
    margin-bottom: 15px;
}

footer a {
    color: blue;
    text-decoration: underline;
}