* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    direction: ltr;
    background-color: black;
    color: #000;
}

.header {
    background: #282828;
    color: white;
    font-family: 'Courier New', Monospace;
    padding: 10px;
    text-align: center;
}

.header button {
    float: left;
    font-size: 20px;
    background: #282828;
    padding: 5px;
    font-weight: bold;
    color: white;
}

.info-section h2 {
    color: cyan;
    text-decoration: underline;
    margin: 12px;
    margin-top: 50px;
}

.info-section p {
    color: grey;
    margin: 12px;
}

.info-section span {
    color: white;
    font-weight: bold;
}